{{define "login"}}

{{template "header" .}}

<h1>Вход</h1>

<form action="/api/login" method="POST">
    <div>
        <label for="email">Email</label>
        <input
            type="email"
            id="email"
            name="email"
            required
        >
    </div>

    <div>
        <label for="password">Пароль</label>
        <input
            type="password"
            id="password"
            name="password"
            required
        >
    </div>

    <button type="submit">Войти</button>
</form>

<p>
    Нет аккаунта?
    <a href="/register">Зарегистрироваться</a>
</p>

{{template "footer" .}}
{{end}}